# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
.terraform
.idea
*.iml

.build-harness
build-harness

sensitive-*
identity
identity.pub
known_hosts
ca.pem
intermediate.cert.pem
pki_intermediate.csr
pki-ca-root.json
cert_key_list
nohup.out

aws.credentials

*.pem
*.csr